{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
CANDIDATE_SSH_SOCK_NAME=$HOME/.ssh/agent.sock
ss -a | grep -q $CANDIDATE_SSH_SOCK_NAME
if [ $? -ne 0 ]; then
  export SSH_AUTH_SOCK=$CANDIDATE_SSH_SOCK_NAME
  rm -f $SSH_AUTH_SOCK
  # https://komari.co.jp/blog/11701/
  ( setsid socat UNIX-LISTEN:$SSH_AUTH_SOCK,fork EXEC:"npiperelay.exe -ei -s //./pipe/openssh-ssh-agent",nofork & ) >/dev/null 2>&1
fi
{{ end }}

[ -d "$HOME/bin" ] && export PATH="$HOME/bin:$PATH"
[ -d "$HOME/.local/bin" ] && PATH="$HOME/.local/bin:$PATH"

true