#!/bin/bash
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
sudo apt update
sudo apt install -y \
  aria2 \
  autoconf \
  bat \
  build-essential \
  cmake \
  curl \
  dirmngr \
  fd-find \
  fzf \
  gawk \
  gettext \
  gpg \
  hexyl \
  hstr \
  htop \
  httpie \
  jq \
  libbz2-dev \
  libcurl4-openssl-dev \
  libdb-dev \
  libffi-dev \
  libgdbm-dev \
  liblzma-dev \
  libncursesw5-dev \
  libnotify-bin \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libz-dev \
  nmap \
  ripgrep \
  socat \
  tk-dev \
  unzip \
  uuid-dev \
  vim \
  zlib1g-dev

{{ if and (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) (.chezmoi.requireGUI) }}
# フォントなど独立したLinuxで必要とされるもの
sudo apt install -y \
  fonts-migmix \
  fonts-ipafont-gothic \
  fonts-ipafont-mincho
{{ end }}
[ ! -e "$HOME/.cargo/env" ] && curl https://sh.rustup.rs -sSf | sh
cargo="$HOME/.cargo/bin/cargo"
$cargo install git-delta
$cargo install hyperfine
$cargo install lsd
$cargo install sd
$cargo install starship --locked

curl https://mise.jdx.dev/install.sh
if [ ! -x "$HOME/.local/bin/mise" ]; then
  gpg --keyserver hkps://keyserver.ubuntu.com --recv-keys 0x7413A06D
  curl https://mise.jdx.dev/install.sh.sig | gpg --decrypt > install.sh
  sh ./install.sh
  rm ./install.sh
fi
mise="$HOME/.local/bin/mise"
$mise use -yg bitwarden
$mise use -yg chezmoi
$mise use -yg git
$mise use -yg node
$mise use -yg python
$mise use -yg rye
$mise use -yg zoxide

git clone https://github.com/joaojacome/bitwarden-ssh-agent.git ~/.bw-ssh-agent
cd ~/.bw-ssh-agent
git checkout 6237a3604d640533ad4123d23e23ddfd4e3666d2 2>&1 > /dev/null
cd $HOME
{{ end }}
