{{ if eq .chezmoi.os "windows" }}
Get-Command winget
if (-not $?) {
  Write-Host "cannot use winget. will be stop..."
  exit
}

winget install `
  7zip.7zip `
  Bitwarden.Bitwarden `
  BurntSushi.ripgrep.MSVC `
  cURL.cURL `
  dandavison.delta `
  equalsraf.win32yank `
  Git.Git `
  Insecure.Nmap `
  jqlang.jq `
  jstarks.npiperelay `
  junegunn.fzf `
  Kitware.CMake `
  Microsoft.VCRedist.2015+.x64 `
  Microsoft.VCRedist.2015+.x86 `
  Microsoft.VisualStudioCode `
  Nushell.Nushell `
  Obsidian.Obsidian `
  Rye.Rye `
  sharkdp.bat `
  sharkdp.fd `
  sharkdp.hexyl `
  Starship.Starship `
  Twilio.Authy `
  twpayne.chezmoi `
  vim.vim `
  WinMerge.WinMerge `
  XP89DCGQ3K6VLD # powertoys

{{ end }}
