{{ if eq .chezmoi.os "windows" }}
Get-Command winget
if (-not $?) {
  Write-Host "Wingetが利用できません。スクリプトを終了します"
  exit
}

winget insatll `
  7zip.7zip `
  Bitwarden.Bitwarden `
  BurntSushi.ripgrep.MSVC `
  cURL.cURL `
  dandavison.delta `
  Git.Git `
  Insecure.Nmap `
  jqlang.jq `
  jstarks.npiperelay `
  junegunn.fzf `
  Kitware.CMake `
  Microsoft.VCRedist.2015+.x64 `
  Microsoft.VCRedist.2015+.x86 `
  Microsoft.VisualStudioCode `l
  Nushell.Nushell `
  Obsidian.Obsidian `
  sharkdp.bat `
  sharkdp.fd `
  sharkdp.hexyl `
  Starship.Starship `
  Twilio.Authy `
  twpayne.chezmoi `
  vim.vim `
  WinMerge.WinMerge `
  XP89DCGQ3K6VLD // powertoys

if (-not (Test-Path ~/.asdf)) {
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.12.0
}
asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf plugin add python
asdf plugin add rye https://github.com/Azuki-bar/asdf-rye.git
{{ end }}
